Repository oakoss/agent-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, format, validate-skills

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

validate-skills:
  run: node scripts/validate-skills.ts {staged_files}

fix(skills): correct invalid HTML structure in tanstack-table pinning and virtual scroll examples
  skills/tanstack-table/references/column-row-pinning.md
  skills/tanstack-table/references/infinite-scroll.md
Due: lint-md, format, validate-skills

fix(skills): clean up unused imports and comments in tanstack-table refs
  skills/tanstack-table/references/column-row-pinning.md
  skills/tanstack-table/references/infinite-scroll.md
Due: lint-md, format, validate-skills

fix(skills): audit zod-validation skill against Zod v4 docs
  skills/zod-validation/SKILL.md
  skills/zod-validation/references/common-patterns.md
  skills/zod-validation/references/metadata-and-json-schema.md
Due: lint-md, format, validate-skills

fix(skills): audit tanstack-router skill against official v1 docs
  skills/tanstack-router/references/known-issues.md
  skills/tanstack-router/references/navigation.md
Due: lint-md, format, validate-skills

feat(skills): fill playwright and e2e-testing gaps from finance-tracker audit
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
  skills/e2e-testing/SKILL.md
  skills/e2e-testing/references/authentication.md
  skills/e2e-testing/references/fixtures.md
  skills/playwright/SKILL.md
  skills/playwright/references/advanced-assertions.md
  skills/playwright/references/configuration.md
  skills/playwright/references/input-and-actions.md
  skills/playwright/references/network-testing.md
Due: lint-md, format, validate-skills

fix(skills): add new patterns to quick reference and common mistakes tables
  skills/e2e-testing/SKILL.md
  skills/playwright/SKILL.md
Due: lint-md, format, validate-skills

fix(skills): replace cargo-watch in mise backend examples
  skills/mise/SKILL.md
  skills/mise/references/tool-management.md
Due: lint-md, format, validate-skills

chore(config): ignore review-cycle and dolt server runtime files
  .beads/.gitignore
  .gitignore
Due: none

fix(skills): replace cargo-watch in mise backend examples (#2)
  .beads/.gitignore
  .gitignore
  skills/mise/SKILL.md
  skills/mise/references/tool-management.md
Due: lint-md, format, validate-skills

chore(config): repair beads and give lefthook sole ownership of git hooks
  .agents/skills/beads/SKILL.md
  .agents/skills/beads/agents/openai.yaml
  .beads/.gitignore
  .beads/backup/backup_state.json
  .beads/config.yaml
  .beads/metadata.json
  .codex/config.toml
  .codex/hooks.json
  .gitignore
  .lefthook/bd-hook.sh
  AGENTS.md
  lefthook.yml
Due: lint-md, format

chore(config): stop masking the beads export
  .beads/issues.jsonl
Due: none

chore(deps): clear all 14 dependabot advisories
  AGENTS.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skills/better-auth/references/configuration.md
  skills/meta-skill-creator/references/frontmatter.md
  skills/opentofu/references/pulumi-stacks.md
  skills/secure-ai/references/supply-chain-mcp.md
  skills/tanstack-start/references/error-handling.md
  skills/usability-tester/references/conducting-tests.md
  skills/zustand/references/middleware.md
  skills/zustand/references/migration.md
  skills/zustand/references/ssr-hydration.md
  skills/zustand/references/store-patterns.md
Due: lint-md, format, validate-skills

Path conditions:
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,yml,yaml}
  validate-skills: any of: skills/**/*.md
