Repository oakoss/agent-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, format, validate-skills

lefthook.yml:

# lefthook.yml
no_tty: true # Prevents terminal escape sequence issues with beads hooks
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    bd-flush:
      run: TERM=dumb bd hooks run pre-commit --quiet
      skip:
        - run: '[ ! -d .beads ]'
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true # Auto-stage Markdown fixes!
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,yml,yaml}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true # Auto-stage Prettier fixes!
    validate-skills:
      glob: 'skills/**/*.md'
      run: node scripts/validate-skills.ts {staged_files}

post-merge:
  commands:
    bd-import:
      run: TERM=dumb bd hooks run post-merge --quiet
      skip:
        - run: '[ ! -d .beads ]'

post-checkout:
  commands:
    bd-import:
      run: TERM=dumb bd hooks run post-checkout {1} {2} {3} --quiet
      skip:
        - run: '[ ! -d .beads ]'

pre-push:
  commands:
    bd-sync:
      run: TERM=dumb bd hooks run pre-push --quiet
      skip:
        - run: '[ ! -d .beads ]'

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

feat(skills): enrich playwright with Docker and CI patterns
  skills/playwright/SKILL.md
  skills/playwright/references/docker-and-ci.md
Due: lint-md, format, validate-skills

feat(skills): enrich content, SEO & docs skills (docs, seo-optimizer, localization-engineer, tldr-expert)
  skills/docs/SKILL.md
  skills/docs/references/mermaid-diagrams.md
  skills/localization-engineer/SKILL.md
  skills/localization-engineer/references/translations.md
  skills/localization-engineer/references/ui-patterns.md
  skills/seo-optimizer/SKILL.md
  skills/seo-optimizer/references/content-audit.md
  skills/seo-optimizer/references/eeat-standards.md
  skills/tldr-expert/SKILL.md
  skills/tldr-expert/references/repomix-gitingest-mastery.md
Due: lint-md, format, validate-skills

feat(skills): enrich destructive-command-guard with hooks API and agent compatibility
  skills/destructive-command-guard/SKILL.md
  skills/destructive-command-guard/references/installation.md
  skills/destructive-command-guard/references/troubleshooting.md
Due: lint-md, format, validate-skills

feat(skills): enrich AI & orchestration skills (metadata.source, skill-management fix)
  skills/agent-patterns/SKILL.md
  skills/agent-session-search/SKILL.md
  skills/mcp-expert/SKILL.md
  skills/prompt/SKILL.md
  skills/rag-implementer/SKILL.md
  skills/skill-management/SKILL.md
  skills/skill-management/references/creating-skills.md
Due: lint-md, format, validate-skills

feat(skills): enrich TypeScript & validation skills (TS 5.5, Zod v4, ArkType 2.1, openapi-react-query)
  skills/arktype-validation/SKILL.md
  skills/arktype-validation/references/morphs-and-scopes.md
  skills/arktype-validation/references/schema-types.md
  skills/openapi/SKILL.md
  skills/openapi/references/code-generation.md
  skills/typescript-patterns/SKILL.md
  skills/typescript-patterns/references/generics.md
  skills/typescript-patterns/references/type-guards.md
  skills/typescript-patterns/references/type-utilities.md
  skills/zod-validation/SKILL.md
  skills/zod-validation/references/error-handling.md
  skills/zod-validation/references/metadata-and-json-schema.md
  skills/zod-validation/references/schema-types.md
  skills/zod-validation/references/transforms-and-parsing.md
Due: lint-md, format, validate-skills

chore(docs): remove temporary enrichment tracking files
  skills_audit_status.md
  skills_guidelines.md
  skills_status_tracking.md
Due: lint-md, format

chore(deps): bump dependencies
  pnpm-lock.yaml
Due: format

feat(skills): add find-skills skill with enriched search
  skills/find-skills/SKILL.md
  skills/find-skills/references/discovery-guide.md
  skills/find-skills/references/enriched-search.md
  skills/find-skills/scripts/enrich_find.js
Due: lint-md, format, validate-skills

feat(skills): add private repo guidance to find-skills
  skills/find-skills/SKILL.md
  skills/find-skills/references/private-repos.md
Due: lint-md, format, validate-skills

feat(skills): enrich find-skills with full CLI reference and agent targeting
  skills/find-skills/SKILL.md
  skills/find-skills/references/discovery-guide.md
  skills/find-skills/references/private-repos.md
Due: lint-md, format, validate-skills

fix(skills): correct agent identifiers in find-skills
  skills/find-skills/SKILL.md
  skills/find-skills/references/discovery-guide.md
  skills/find-skills/references/private-repos.md
Due: lint-md, format, validate-skills

feat(skills): add cross-references between find-skills and skill-management
  skills/find-skills/SKILL.md
  skills/skill-management/SKILL.md
Due: lint-md, format, validate-skills

refactor(docs): consolidate skill rules into .claude/rules/skills.md
  .claude/rules/skills.md
  AGENTS.md
Due: lint-md, format

fix(config): clean up shell rules, restrict commit scopes, document hooks
  .claude/rules/shell.md
  .commitlintrc.js
  AGENTS.md
Due: lint-md, format

fix(docs): remove nvm-specific instruction from Node version section
  AGENTS.md
Due: lint-md, format

refactor(config): update rule globs, clean monorepo refs, housekeeping
  .claude/rules/accessibility.md
  .claude/rules/api.md
  .claude/rules/design-tokens.md
  .claude/rules/error-handling.md
  .claude/rules/package-manager.md
  .claude/rules/react.md
  .claude/rules/routes.md
  .claude/rules/skills.md
  .claude/rules/storybook.md
  .claude/rules/tailwind.md
  .claude/rules/testing.md
  AGENTS.md
Due: lint-md, format

docs(skills): add find-skills to README catalog, update count to 106
  README.md
Due: lint-md, format

fix(skills): clarify e2e-testing vs playwright scope with cross-references
  skills/e2e-testing/SKILL.md
  skills/playwright/SKILL.md
Due: lint-md, format, validate-skills

fix(skills): clarify knowledge-base-manager, knowledge-graph-builder, rag-implementer scope
  skills/knowledge-base-manager/SKILL.md
  skills/knowledge-base-manager/references/storage.md
  skills/knowledge-graph-builder/SKILL.md
  skills/rag-implementer/SKILL.md
Due: lint-md, format, validate-skills

fix(skills): add cross-references between quality-auditor and de-slopify
  skills/de-slopify/SKILL.md
  skills/quality-auditor/SKILL.md
Due: lint-md, format, validate-skills

fix(skills): add cross-reference from agent-patterns to orchestration
  skills/agent-patterns/SKILL.md
Due: lint-md, format, validate-skills

fix(skills): add cross-references between security, security-audit, and secure-ai
  skills/secure-ai/SKILL.md
  skills/security/SKILL.md
Due: lint-md, format, validate-skills

feat(skills): migrate meta-agent-creator scripts and reference content
  skills/meta-agent-creator/references/templates.md
  skills/meta-agent-creator/scripts/validate-agent.py
Due: lint-md, format, validate-skills

feat(skills): migrate meta-command-creator scripts and reference content
  skills/meta-command-creator/references/command-anatomy.md
  skills/meta-command-creator/references/templates.md
  skills/meta-command-creator/scripts/validate-command.py
Due: lint-md, format, validate-skills

feat(skills): migrate meta-hook-creator scripts and reference content
  skills/meta-hook-creator/references/hook-configuration.md
  skills/meta-hook-creator/references/templates.md
  skills/meta-hook-creator/scripts/validate-hook.py
Due: lint-md, format, validate-skills

feat(skills): migrate meta-plugin-creator scripts and reference content
  skills/meta-plugin-creator/references/distribution.md
  skills/meta-plugin-creator/references/plugin-anatomy.md
  skills/meta-plugin-creator/scripts/validate-plugin.py
Due: lint-md, format, validate-skills

feat(skills): migrate meta-skill-creator scripts and reference content
  skills/meta-skill-creator/references/skill-anatomy.md
  skills/meta-skill-creator/scripts/validate-component.py
  skills/meta-skill-creator/scripts/validate-skill.py
Due: lint-md, format, validate-skills

feat(skills): deprecate tanstack-integration, distribute content to individual skills
  README.md
  skills/tanstack-form/SKILL.md
  skills/tanstack-form/references/server-integration.md
  skills/tanstack-integration/SKILL.md
  skills/tanstack-integration/references/debugging-guide.md
  skills/tanstack-integration/references/recommended-libraries.md
  skills/tanstack-query/SKILL.md
  skills/tanstack-query/references/caching-coordination.md
  skills/tanstack-router/SKILL.md
  skills/tanstack-router/references/loader-query-patterns.md
  skills/tanstack-start/SKILL.md
  skills/tanstack-start/references/integration-flows.md
  skills/tanstack-start/references/query-integration.md
Due: lint-md, format, validate-skills

feat(skills): fill content gaps in storybook-stories and tanstack-form
  skills/storybook-stories/SKILL.md
  skills/storybook-stories/references/interaction-tests.md
  skills/tanstack-form/SKILL.md
  skills/tanstack-form/references/field-components.md
Due: lint-md, format, validate-skills

feat(skills): enrich meta-plugin-creator with missing LSP and config examples
  skills/meta-plugin-creator/references/components.md
  skills/meta-plugin-creator/references/distribution.md
  skills/meta-plugin-creator/references/plugin-anatomy.md
Due: lint-md, format, validate-skills

feat(skills): enrich meta-hook-creator with missing hook examples and approach guide
  skills/meta-hook-creator/references/hook-configuration.md
  skills/meta-hook-creator/references/templates.md
Due: lint-md, format, validate-skills

chore(config): remove .claude/skills/ references from enrichment workflow
  .claude/rules/skills.md
Due: lint-md, format

chore(config): remove .claude/skills/ from gitignore
  .gitignore
Due: none

chore(config): remove .agents/ from gitignore
  .gitignore
Due: none

fix(skills): resolve double-unescaping in decodeHtml (CWE-116)
  skills/find-skills/scripts/enrich_find.js
Due: format

chore: update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: format

chore(validator): raise reference file line limits to 500/750
  scripts/validate-skills.ts
Due: format

chore(config): migrate beads from SQLite to Dolt backend
  .beads/.gitignore
  .beads/config.yaml
  .beads/metadata.json
  .nvmrc
  AGENTS.md
  lefthook.yml
Due: lint-md, format
