Repository oakoss/agent-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, format, validate-skills

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

validate-skills:
  run: node scripts/validate-skills.ts {staged_files}

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(validator): parse multi-line flow arrays in YAML frontmatter
  scripts/validate-skills.ts
Due: format

chore(config): add beads issue tracking and agent instructions
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/settings.json
  .gitattributes
  AGENTS.md
  CLAUDE.md
Due: lint-md, format

docs(skills): update TanStack skills with improved references
  skills/tanstack-integration/SKILL.md
  skills/tanstack-integration/references/caching-coordination.md
  skills/tanstack-integration/references/end-to-end-flows.md
  skills/tanstack-query/references/infinite-queries.md
  skills/tanstack-query/references/mutations.md
  skills/tanstack-query/references/offline-mode.md
  skills/tanstack-query/references/ssr-hydration.md
  skills/tanstack-query/references/typescript-patterns.md
  skills/tanstack-router/SKILL.md
  skills/tanstack-router/references/auth-and-context.md
  skills/tanstack-router/references/data-loading.md
  skills/tanstack-router/references/search-params.md
  skills/tanstack-router/references/setup.md
  skills/tanstack-router/references/virtual-routes.md
  skills/tanstack-start/SKILL.md
  skills/tanstack-start/references/deployment.md
  skills/tanstack-start/references/error-handling.md
  skills/tanstack-start/references/file-organization.md
  skills/tanstack-start/references/route-protection.md
  skills/tanstack-start/references/server-functions.md
  skills/tanstack-table/SKILL.md
  skills/tanstack-table/references/column-definitions.md
  skills/tanstack-table/references/known-issues.md
  skills/tanstack-table/references/server-side-patterns.md
  skills/tanstack-table/references/virtualization.md
  skills_audit_status.md
Due: lint-md, format, validate-skills

chore(config): enable beads daemon auto-commit and auto-push
  .beads/config.yaml
Due: format

chore(config): integrate beads hooks into lefthook
  lefthook.yml
Due: format

feat(skills): enrich Batch 1 TanStack ecosystem skills
  .claude/rules/skills.md
  skills/tanstack-integration/SKILL.md
  skills/tanstack-integration/references/end-to-end-flows.md
  skills/tanstack-integration/references/form-query-integration.md
  skills/tanstack-integration/references/loader-patterns.md
  skills/tanstack-query/SKILL.md
  skills/tanstack-query/references/infinite-queries.md
  skills/tanstack-query/references/mutations.md
  skills/tanstack-query/references/offline-mode.md
  skills/tanstack-query/references/ssr-hydration.md
  skills/tanstack-query/references/typescript-patterns.md
  skills/tanstack-query/references/websocket-integration.md
  skills/tanstack-router/SKILL.md
  skills/tanstack-router/references/code-splitting.md
  skills/tanstack-router/references/data-loading.md
  skills/tanstack-router/references/known-issues.md
  skills/tanstack-router/references/navigation.md
  skills/tanstack-router/references/type-safety.md
  skills/tanstack-start/SKILL.md
  skills/tanstack-start/references/error-handling.md
  skills/tanstack-start/references/middleware.md
  skills/tanstack-start/references/route-protection.md
  skills/tanstack-start/references/server-functions.md
  skills/tanstack-start/references/ssr-and-streaming.md
  skills/tanstack-table/SKILL.md
  skills/tanstack-table/references/column-definitions.md
  skills/tanstack-table/references/filtering.md
  skills/tanstack-table/references/known-issues.md
  skills/tanstack-table/references/reusable-components.md
  skills/tanstack-table/references/server-side-patterns.md
  skills/zod-validation/SKILL.md
  skills/zod-validation/references/common-patterns.md
  skills/zod-validation/references/error-handling.md
  skills/zod-validation/references/metadata-and-json-schema.md
  skills/zod-validation/references/schema-types.md
  skills/zod-validation/references/transforms-and-parsing.md
  skills_audit_status.md
Due: lint-md, format, validate-skills

feat(skills): enrich Batch 3 Testing & Quality skills
  skills/de-slopify/SKILL.md
  skills/de-slopify/references/before-and-after.md
  skills/de-slopify/references/code-slop.md
  skills/de-slopify/references/prose-patterns.md
  skills/de-slopify/references/review-workflow.md
  skills/de-slopify/references/slop-vocabulary.md
  skills/e2e-testing/SKILL.md
  skills/e2e-testing/references/accessibility.md
  skills/e2e-testing/references/authentication.md
  skills/e2e-testing/references/ci-sharding.md
  skills/e2e-testing/references/locators.md
  skills/e2e-testing/references/mocking.md
  skills/e2e-testing/references/page-objects.md
  skills/e2e-testing/references/test-organization.md
  skills/e2e-testing/references/visual-testing.md
  skills/playwright/SKILL.md
  skills/playwright/references/advanced-topics.md
  skills/playwright/references/configuration.md
  skills/playwright/references/debug-and-performance.md
  skills/playwright/references/testing-patterns.md
  skills/quality-auditor/SKILL.md
  skills/quality-auditor/references/anti-patterns-guide.md
  skills/quality-auditor/references/audit-report-template.md
  skills/quality-auditor/references/dimension-rubrics.md
  skills/quality-auditor/references/verification-gap-protocol.md
  skills/usability-tester/SKILL.md
  skills/usability-tester/references/accessibility-testing.md
  skills/usability-tester/references/conducting-tests.md
  skills/usability-tester/references/heuristic-evaluation.md
  skills/usability-tester/references/metrics-severity.md
  skills/usability-tester/references/remote-and-tools.md
  skills/usability-tester/references/reporting.md
  skills/usability-tester/references/test-planning.md
  skills/usability-tester/references/testing-methods.md
  skills_audit_status.md
Due: lint-md, format, validate-skills

feat(skills): enrich batch 4 — Security & Auth (5 skills)
  skills/better-auth/SKILL.md
  skills/better-auth/references/frameworks.md
  skills/better-auth/references/plugins.md
  skills/better-auth/references/troubleshooting.md
  skills/destructive-command-guard/SKILL.md
  skills/destructive-command-guard/references/command-detection.md
  skills/destructive-command-guard/references/installation.md
  skills/destructive-command-guard/references/troubleshooting.md
  skills/secure-ai/SKILL.md
  skills/secure-ai/references/output-validation.md
  skills/secure-ai/references/prompt-injection-defense.md
  skills/secure-ai/references/security-audit-protocols.md
  skills/secure-ai/references/supply-chain-mcp.md
  skills/security-audit/SKILL.md
  skills/security-audit/references/application-security.md
  skills/security-audit/references/audit-logging.md
  skills/security-audit/references/compliance-frameworks.md
  skills/security-audit/references/convex-security.md
  skills/security-audit/references/rls-performance.md
  skills/security-audit/references/threat-modeling.md
  skills/security-audit/references/zero-trust-database.md
  skills/security/SKILL.md
  skills/security/references/auth.md
  skills/security/references/data-protection.md
  skills/security/references/monitoring-compliance.md
  skills/security/references/secure-config.md
  skills/security/references/supply-chain.md
  skills_audit_status.md
Due: lint-md, format, validate-skills

feat(skills): enrich batch 5 — DevOps, Git & Infra (8 skills)
  skills/ci-cd/SKILL.md
  skills/ci-cd/references/deployment-patterns.md
  skills/ci-cd/references/github-actions.md
  skills/ci-cd/references/monitoring.md
  skills/ci-cd/references/platform-selection.md
  skills/db-enforcer/SKILL.md
  skills/db-enforcer/references/postgres-integrity.md
  skills/db-enforcer/references/prisma-architecture.md
  skills/db-enforcer/references/rls-security.md
  skills/git-workflow/SKILL.md
  skills/git-workflow/references/conventional-commits.md
  skills/git-workflow/references/git-internals.md
  skills/git-workflow/references/github-actions.md
  skills/git-workflow/references/stacked-changes.md
  skills/github/SKILL.md
  skills/github/references/actions.md
  skills/github/references/issues.md
  skills/github/references/projects-api.md
  skills/github/references/pull-requests.md
  skills/github/references/releases-more.md
  skills/github/references/releases-search.md
  skills/github/references/repos-auth.md
  skills/postgres-tuning/SKILL.md
  skills/postgres-tuning/references/aio-tuning.md
  skills/postgres-tuning/references/indexing-and-bloat.md
  skills/postgres-tuning/references/query-plan-analysis.md
  skills/repo-updater/references/troubleshooting.md
  skills/ssh-remote/SKILL.md
  skills/ssh-remote/references/connections.md
  skills/ssh-remote/references/file-transfer.md
  skills/ssh-remote/references/key-management.md
  skills/ssh-remote/references/tunneling.md
  skills/turborepo/SKILL.md
  skills/turborepo/references/boundaries-and-tooling.md
  skills/turborepo/references/dev-and-anti-patterns.md
  skills/turborepo/references/task-configuration.md
  skills/turborepo/references/workspace-structure.md
  skills_audit_status.md
Due: lint-md, format, validate-skills

feat(skills): enrich batch 6 — AI, Agents & Orchestration (8 skills)
  skills/agent-patterns/SKILL.md
  skills/agent-patterns/references/agent-types.md
  skills/agent-patterns/references/orchestration.md
  skills/agent-patterns/references/sub-agent-configuration.md
  skills/agent-patterns/references/troubleshooting.md
  skills/agent-session-search/SKILL.md
  skills/agent-session-search/references/command-reference.md
  skills/agent-session-search/references/configuration.md
  skills/agent-session-search/references/error-handling.md
  skills/agent-session-search/references/internals.md
  skills/agent-session-search/references/robot-mode.md
  skills/agent-session-search/references/search-and-ranking.md
  skills/mcp-expert/SKILL.md
  skills/mcp-expert/references/mcp-apps.md
  skills/mcp-expert/references/security-auth.md
  skills/mcp-expert/references/server-development.md
  skills/mcp-expert/references/transports.md
  skills/mcp-expert/references/troubleshooting.md
  skills/orchestration/SKILL.md
  skills/planning/SKILL.md
  skills/prompt/SKILL.md
  skills/prompt/references/chain-of-thought.md
  skills/prompt/references/extended-thinking.md
  skills/prompt/references/multimodal-prompting.md
  skills/prompt/references/reasoning-model-optimization.md
  skills/prompt/references/system-prompts.md
  skills/prompt/references/tree-of-thoughts.md
  skills/rag-implementer/SKILL.md
  skills/rag-implementer/references/architecture-patterns.md
  skills/rag-implementer/references/chunking-strategies.md
  skills/rag-implementer/references/retrieval-methods.md
  skills/skill-management/SKILL.md
  skills/skill-management/references/auditing-skills.md
  skills/skill-management/references/creating-skills.md
  skills/skill-management/references/validation.md
  skills_audit_status.md
Due: lint-md, format, validate-skills

feat(skills): enrich batch 7 — UX, Design & Visualization (9 skills)
  skills/accessibility/SKILL.md
  skills/accessibility/references/color-and-media.md
  skills/accessibility/references/focus-management.md
  skills/accessibility/references/forms-validation.md
  skills/accessibility/references/testing.md
  skills/brand-designer/SKILL.md
  skills/data-visualizer/SKILL.md
  skills/data-visualizer/references/library-selection.md
  skills/figma-developer/SKILL.md
  skills/figma-developer/references/asset-export.md
  skills/figma-developer/references/ci-automation.md
  skills/figma-developer/references/component-generation.md
  skills/figma-developer/references/design-tokens.md
  skills/figma-developer/references/setup.md
  skills/figma-developer/references/troubleshooting.md
  skills/icon-design/SKILL.md
  skills/icon-design/references/library-comparison.md
  skills/icon-design/references/semantic-mapping.md
  skills/responsive-images/SKILL.md
  skills/responsive-images/references/lazy-loading.md
  skills/responsive-images/references/modern-formats.md
  skills/threejs/SKILL.md
  skills/threejs/references/r3f-patterns.md
  skills/threejs/references/webgpu-tsl.md
  skills/ui-ux-polish/SKILL.md
  skills/ui-ux-polish/references/accessibility.md
  skills/ui-ux-polish/references/polish-workflow.md
  skills/ux-designer/SKILL.md
  skills/ux-designer/references/accessibility-guide.md
Due: lint-md, format, validate-skills

docs(skills): update audit status — batch 7 complete (49/69)
  skills_audit_status.md
Due: lint-md, format

feat(skills): enrich batch 8 — Content, Tools & Specialized (10 skills)
  skills/chrome-devtools/SKILL.md
  skills/chrome-devtools/references/automation-workflows.md
  skills/chrome-devtools/references/claude-code-integration.md
  skills/chrome-devtools/references/devtools-mcp.md
  skills/chrome-devtools/references/shortcuts-scheduling.md
  skills/chrome-devtools/references/troubleshooting.md
  skills/localization-engineer/SKILL.md
  skills/localization-engineer/references/formatting.md
  skills/localization-engineer/references/seo-management.md
  skills/localization-engineer/references/setup.md
  skills/localization-engineer/references/translations.md
  skills/localization-engineer/references/ui-patterns.md
  skills/pdf-tools/SKILL.md
  skills/pdf-tools/references/ai-extraction-patterns.md
  skills/pdf-tools/references/high-fidelity-generation.md
  skills/pdf-tools/references/legacy-utilities.md
  skills/performance-optimizer/SKILL.md
  skills/performance-optimizer/references/backend.md
  skills/remotion/SKILL.md
  skills/remotion/references/advanced-features.md
  skills/seo-optimizer/SKILL.md
  skills/seo-optimizer/references/ai-overviews.md
  skills/seo-optimizer/references/semantic-entity-seo.md
  skills/tiptap/SKILL.md
  skills/tiptap/references/extensions.md
  skills/tiptap/references/known-issues.md
  skills/tiptap/references/patterns.md
  skills/tiptap/references/setup.md
  skills/tldr-expert/SKILL.md
  skills/tldr-expert/references/context-engineering-patterns.md
  skills/tldr-expert/references/repomix-gitingest-mastery.md
  skills/tldr-expert/references/semantic-graph-analysis.md
Due: lint-md, format, validate-skills

docs(skills): update audit status — batch 8 complete (59/69)
  skills_audit_status.md
Due: lint-md, format

feat(skills): enrich batch 9 — Remaining (10 skills)
  skills/arktype-validation/SKILL.md
  skills/arktype-validation/references/common-patterns.md
  skills/arktype-validation/references/morphs-and-scopes.md
  skills/arktype-validation/references/schema-types.md
  skills/asset-manager/SKILL.md
  skills/asset-manager/references/image-optimization.md
  skills/beads-viewer/SKILL.md
  skills/beads-viewer/references/graph-metrics.md
  skills/beads-viewer/references/robot-commands.md
  skills/beads-viewer/references/workflows.md
  skills/beads-workflow/SKILL.md
  skills/beads-workflow/references/agent-integration.md
  skills/beads-workflow/references/plan-to-beads.md
  skills/beads-workflow/references/polishing-workflow.md
  skills/expert-instruction/SKILL.md
  skills/ghostty/SKILL.md
  skills/ghostty/references/cli-actions.md
  skills/ghostty/references/configuration.md
  skills/knowledge-base-manager/SKILL.md
  skills/knowledge-graph-builder/SKILL.md
  skills/knowledge-graph-builder/references/database-selection.md
  skills/knowledge-graph-builder/references/hybrid-architecture.md
  skills/knowledge-graph-builder/references/ontology-design.md
  skills/realtime-sync/SKILL.md
  skills/realtime-sync/references/crdt-collaboration.md
  skills/realtime-sync/references/pubsub-delivery.md
  skills/realtime-sync/references/webtransport.md
  skills/utility-pro/SKILL.md
  skills/utility-pro/references/modern-unix-toolbox.md
Due: lint-md, format, validate-skills

docs(skills): update audit status — batch 9 complete (69/69)
  skills_audit_status.md
Due: lint-md, format

docs(skills): add new skills recommendations — 14 candidates across 3 tiers
  skills_audit_status.md
Due: lint-md, format

docs(skills): revise new skill names to follow ecosystem conventions
  skills_audit_status.md
Due: lint-md, format

docs(skills): add self-contained skills architecture decision
  skills_audit_status.md
Due: lint-md, format

docs(skills): refine integration reference pattern — minimal + cross-skill discovery
  skills_audit_status.md
Due: lint-md, format

fix(docs): correct skills CLI install syntax in recommendations
  skills_audit_status.md
Due: lint-md, format

fix(docs): use short-form skills add syntax in recommendations
  skills_audit_status.md
Due: lint-md, format

docs(skills): add project conventions for optional frontmatter fields
  .claude/rules/skills.md
  AGENTS.md
Due: lint-md, format

docs(skills): make license, author, version required for all skills
  .claude/rules/skills.md
  AGENTS.md
Due: lint-md, format

docs(skills): add progressive disclosure model and scripts/assets guidance
  AGENTS.md
Due: lint-md, format

docs(skills): add version bumping convention — git log as changelog
  AGENTS.md
Due: lint-md, format

docs(skills): remove tanstack-server-functions and nextjs-app-router from recommendations
  skills_audit_status.md
Due: lint-md, format

docs(skills): split react-email and resend into separate skills
  skills_audit_status.md
Due: lint-md, format

docs(skills): add cross-skill reference pattern for companion skills
  AGENTS.md
Due: lint-md, format

docs(skills): add metadata.source as encouraged optional field
  .claude/rules/skills.md
  AGENTS.md
Due: lint-md, format

docs: rewrite README with categorized skill tables
  README.md
Due: lint-md, format

feat(skills): add storybook-stories skill
  skills/react-error-handling/SKILL.md
  skills/react-error-handling/references/boundary-placement.md
  skills/react-error-handling/references/class-boundaries.md
  skills/react-error-handling/references/fallback-patterns.md
  skills/react-error-handling/references/react-error-boundary.md
  skills/react-error-handling/references/reset-recovery.md
  skills/storybook-stories/SKILL.md
  skills/storybook-stories/references/component-documentation.md
  skills/storybook-stories/references/interaction-tests.md
  skills/storybook-stories/references/story-writing.md
  skills/storybook-stories/references/visual-testing.md
Due: lint-md, format, validate-skills

feat(skills): add typescript-patterns skill
  skills/typescript-patterns/SKILL.md
  skills/typescript-patterns/references/conditional-types.md
  skills/typescript-patterns/references/discriminated-unions.md
  skills/typescript-patterns/references/generics.md
  skills/typescript-patterns/references/mapped-types.md
  skills/typescript-patterns/references/module-patterns.md
  skills/typescript-patterns/references/strict-mode.md
  skills/typescript-patterns/references/type-guards.md
  skills/typescript-patterns/references/type-utilities.md
Due: lint-md, format, validate-skills

feat(skills): add vitest-testing skill
  skills/vitest-testing/SKILL.md
  skills/vitest-testing/references/advanced-patterns.md
  skills/vitest-testing/references/component-testing.md
  skills/vitest-testing/references/configuration.md
  skills/vitest-testing/references/hook-testing.md
  skills/vitest-testing/references/mocking.md
  skills/vitest-testing/references/test-fundamentals.md
Due: lint-md, format, validate-skills

feat(skills): add tanstack-form skill
  skills/tanstack-form/SKILL.md
  skills/tanstack-form/references/advanced-patterns.md
  skills/tanstack-form/references/array-fields.md
  skills/tanstack-form/references/basic-patterns.md
  skills/tanstack-form/references/form-composition.md
  skills/tanstack-form/references/schema-validation.md
  skills/tanstack-form/references/validation.md
Due: lint-md, format, validate-skills

feat(skills): enrich tanstack-query, tanstack-router, tanstack-start, tailwind, and ux-designer skills
  skills/tailwind/SKILL.md
  skills/tailwind/references/ui-patterns.md
  skills/tanstack-query/SKILL.md
  skills/tanstack-query/references/known-issues.md
  skills/tanstack-query/references/performance.md
  skills/tanstack-query/references/ssr-hydration.md
  skills/tanstack-router/references/navigation.md
  skills/tanstack-start/SKILL.md
  skills/tanstack-start/references/deployment.md
  skills/tanstack-start/references/route-protection.md
  skills/tanstack-start/references/ssr-and-streaming.md
  skills/ux-designer/SKILL.md
  skills/ux-designer/references/visual-design.md
Due: lint-md, format, validate-skills

feat(skills): add drizzle-orm skill
  skills/drizzle-orm/SKILL.md
  skills/drizzle-orm/references/filters-and-operators.md
  skills/drizzle-orm/references/migrations.md
  skills/drizzle-orm/references/mutations.md
  skills/drizzle-orm/references/queries.md
  skills/drizzle-orm/references/relations.md
  skills/drizzle-orm/references/schema-definition.md
Due: lint-md, format, validate-skills

Path conditions:
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,yml,yaml}
  validate-skills: any of: skills/**/*.md
